@model IEnumerable<AuthDemo.Authentication.Student>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.sName)*@
                NAME
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.sGender)*@
                GENDER
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.sStd)*@
                STANDARD
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.sDiv)*@
                DIVISION
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sStd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sDiv)
            </td>
        </tr>
}
    </tbody>
</table>
